*{
    background-color: #D7D7D9;
}

body {
    display: flex;
    justify-content: center;
    /* background: #BF4011; */
}

main {
    margin-left: auto;
    margin-right: auto;
    padding: auto;
}
/* The default size of text in browsers is 16px. */
 #logo {
     text-align: center;
      font-size: 400%; /* 400% is Equal to (16*4)px */
      font-weight: bolder;
      color: #162473;
      /* font-family: 'Josefin Sans', sans-serif; */
      /* font-family: 'Original Surfer', cursive; */
      font-family: 'Acme', sans-serif;
      /* font-family: 'Bangers', cursive; */
 }

 .nav-container , a:hover, a:focus, a:active {
     position: sticky;
     top: auto;
     z-index: 2;
     text-decoration: none;
     color: inherit;
     font-family: 'Acme', sans-serif;
     background-color: #162473;

 }

 nav {
    color: #449CA6;
     width: 80%;
     margin: auto;
     min-height: 10px;
     padding: 3rem 0rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 ul {
     display: flex;
     list-style: none;
     justify-content: space-between;
     flex: 1;
     font-weight: bolder;
 }

 .nav-home {
    background: #BF4011;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
 }