* {
  background: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

img {
  width: 40vw;
  height: 70vh;
  object-fit: cover;
}

.container {
  position: relative;
  width: 40vw;
  height: 70vh;
}

.before-container,
.after-container {
  position: absolute;
  width: 40vw;
  height: 70vh;
}

.after-container {
  width: 20vw;
  overflow: hidden;
}

.slider {
  width: 0.1rem;
  background: white;
  height: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  pointer-events: none;
}
